# Python cache
*.pyc
__pycache__/

# IDEA
.idea/

# Virtual environments
env/
venv/

# Database
#*.sqlite3

# Django collected static files
staticfiles/

# Private environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Terminal
nohup.out

# Other

