<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
   <div class="content">
       <p><font color="#0000FF">Joueur 1 :</font> Coucou, je prends le premier robot</p>
       <p><font color="#00FF00">Joueur 2 :</font> Salut, je viens de me connecter</p>

<p>Coucou</p>
<p>Hello</p>
<p>dsf</p>
<p>Bonjour</p>
<p>Test</p>
<p>Test</p>
<p>gl</p>
<p>salut</p>
<p>baba</p>
</div>
</body>
</html>