<div class="columns is-multiline marge_left marge_right">

    <!-- column for style aspect -->
    <div class="column is-one-third">
    </div>

    <!-- UP button, on click it runs moveUp() function -->
    <div class="column is-one-third">
        <button type="button" name="buttonUp" class="button is-dark is-fullwidth is-rounded"
                onclick="moveUp()">
            UP
        </button>
    </div>

    <!-- column for style aspect -->
    <div class="column is-one-third">
    </div>

    <!-- LEFT button, on click it runs moveLeft() function -->
    <div class="column is-one-third">
        <button type="button" name="buttonLeft" class="button is-dark is-rounded is-fullwidth"
                onclick="moveLeft()">
            LEFT
        </button>
    </div>

    <!-- DOWN button, on click it runs moveDown() function -->
    <div class="column is-one-third">
        <button type="button" name="buttonDown" class="button is-dark is-rounded is-fullwidth"
                onclick="moveDown()">
            DOWN
        </button>
    </div>

    <!-- RIGHT button, on click it runs moveRight() function -->
    <div class="column is-one-third">
        <button type="button" name="buttonDown" class="button is-dark is-rounded is-fullwidth"
                onclick="moveRight()">
            RIGHT
        </button>
    </div>
</div>
