<div class="columns is-multiline marge_left marge_right">
    <div class="column is-one-third">

    </div>
    <div class="column is-one-third">
        <button type="button" name="buttonUp" class="button is-dark is-fullwidth is-rounded"
                onclick="moveUp()" onkeypress="key_pressed();">
            UP
        </button>
    </div>
    <div class="column is-one-third">
    </div>
    <div class="column is-one-third">
        <button type="button" name="buttonLeft" class="button is-dark is-rounded is-fullwidth"
                onclick="moveLeft()">
            LEFT
        </button>
    </div>
    <div class="column is-one-third">
        <button type="button" name="buttonDown" class="button is-dark is-rounded is-fullwidth"
                onclick="moveDown()">
            DOWN
        </button>
    </div>
    <div class="column is-one-third">
        <button type="button" name="buttonDown" class="button is-dark is-rounded is-fullwidth"
                onclick="moveRight()">
            RIGHT
        </button>
    </div>
</div>