<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Remote Robot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="{% static 'control_board/index_rr.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <p class="title">Remot'Robot : la nouvelle application pour commander des robots à distance</p>
    <div class="columns">
        <div class="column is-half bandeau_video">
            <p>On mettra la vidéo ici</p>
        </div>

        <div class="column is-half bandeau_chat">
            <p>On mettra le chat ici</p>
        </div>
    </div>

    <p>On mettra les commandes ici</p>
</body>
</html>