<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Remote Robot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="{% static 'control_board/index_rr.css' %}" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'control_board/dynamic.js' %}"></script>
</head>
<body>
    <p class="title marge_left marge_right marge_up">Remot'Robot : la nouvelle application pour commander des robots à distance</p>
    <div class="columns marge_left marge_right">
        <div class="column is-half bandeau_video">
            <div class="content">
                <p class="subtitle">Voici la vue de votre robot :</p>
            </div>
            <div class="big_marge_left">
                <img src="{% url 'streaming_webcam' %}" height="450" width="450"/>
            </div>
        </div>
        <div class="column is-half bandeau_chat">
            <div class="content">
                <p class="subtitle">Vous pouvez chatter ici :</p>
            </div>

            <div class="box">
                <iframe src="{% url 'chat' %}"
                        width="100%"
                        height="235">
                </iframe>
            </div>
            <form class="form" action="" method="post">
                <!-- onsubmit="send_message(); return false;" -->
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <input id="id_message" name="message" class="input is-rounded"
                               placeholder="Ecrivez votre message ici..." type="text"
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content marge_left">
        <p class="subtitle">Commandes du robot :</p>
    </div>
    {% include 'control_board/commands.html' %}
</body>
</html>